
.box { 
    width:  calc(100% - 10px);
    height: calc(100vh - 97px);
    /* margin-top: 10px; */
    margin-left: 10px;
    display: flex;
}

#map {
    width: 99.5%;
    height: 100%;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
}

.search-box {
    margin-top: 5px;
    height: 28px;
    width: 200px;
    color: #000;
    margin-left: 5px;
    position: relative;
    z-index: 999;
    background-color: rgb(171, 120, 120);
}

.search-box > form > label {
    color: #fff;
    margin-left:  5px;
}

.search-box > form > #facilities {
    margin-top: 2px;
    text-align: center;
    width: 120px; 
    height: 23px;
}